/* ==========================================================================
HEADER
========================================================================== */
.navbar{
    min-height: 450px !important;
    background-image:
	    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	    url('https://www.landmark.hk/en/~/media/images/landmark/shopping/shopdetail/slider/gucci_2.jpg');
  	background-repeat: no-repeat, no-repeat;
  	background-position:
	    0 0,
	    0 0;
 	background-size:
	    cover,
	    cover;
}

/* ==========================================================================
LOGO
========================================================================== */
.navbar-brand {
	margin: 15px 15px !important;
}

.navbar-brand img{;
    height: 100%;
}

/* ==========================================================================
LINKS IN MENU
========================================================================== */
.nav.navbar-nav {
	margin-left: 10px;
}

.navbar-nav > li > a {
	padding: 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.1em;
	transition: 0.5s color;
	color: #fff !important;
}

.navbar-nav > li > a:hover {
	color: #B0A060 !important;
}

/* ==========================================================================
TEXT IN HEADER
========================================================================== */
.gussi h1{
	font-family: Raleway; 
	font-size: 20px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 15.4px;
}
.nav-text{
    color: #fff;
    font-size: 70px;
    text-align: center;
    margin-top: 10%;
}

/* ==========================================================================
FOOTER
========================================================================== */
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 30px;
	height: 30px;
	/*background-color:  #33383b;*/
	/*border-radius: 2px;*/

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	/*margin-left: 3px;*/
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

/* ==========================================================================
CATALOG AND PRODUCT
========================================================================== */
.catalog-list .product{
    border: 0px solid #B0A060 !important;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3) !important;
    transition: box-shadow 0.3s ease-in-out;
}

.catalog-list .product:hover {
    box-shadow: 0 10px 30px rgba(0,0,0,0.5) !important;
}

.option-relevance {
    color: black !important;
}

ol li a{
    color: black !important;
}


.product .text-list h2 {
	font-size: 1.2em !important;
	font-weight: bold !important;
}

.product .text-list .text-item {
	font-size: 1em !important;
}

.product .offer {
	font-size: 1.3em !important;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #B0A060 !important;
	margin: 0 !important;
	max-width: 100% !important;
}

.product .offer span.value,
.product .offer span.rebatepercent,
.product .offer span.rebate {
	font-weight: bold !important;
	color: #fff !important;
}

.product .offer span.rebatepercent,
.product .offer span.rebate {
	float: right;
	height: 100%;
}


/* ==========================================================================
LINKS IN MENU
========================================================================== */
.pagination > .sort > ul > li {
	margin: 0.5em;
	line-height: 3em !important;
}

.pagination > .sort > ul > li > a {
	color: #fff !important;
	text-decoration: none;
	padding: 0.5em;
	background-color: #B0A060 !important;
}

.pagination > .sort > ul > li > a:hover {
	text-decoration: none;
	background-color: #897b43 !important;
}

.pagination > .sort > ul > li > .active {
	background-color: #897b43 !important; 
}

.pagination > .sort {
	display: block !important;
}

.catalog-filter-search .standardbutton:hover {
	background-color: #897b43; 
}

/* ==========================================================================
SOCIAL BUTTON STYLE
========================================================================== */
/* Style all font awesome icons */
.fa {
	padding: 5px;
	font-size: 30px;
	width: 30px;
	height: 30px;
	/*border-radius: 50%;*/
	text-align: center;
	text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
	background: #3B5998;
	color: white;
}

/* Twitter */
.fa-twitter {
	background: #55ACEE;
	color: white;
}

/* LinkedIN */
.fa-linkedin {
	background: #50eede;
	color: white;
}

/* Github */
.fa-github {
	background: #cae3ee;
	color: white;
}

/* ==========================================================================
ABOUT PAGE
========================================================================== */
#about-page .container-fluid {
	padding: 0 !important;
	height: 300px;
	margin-top: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
}

#about-page {
	width: 100vw;
	overflow: hidden;
}

#about-page .container-fluid#gucci-image {
	margin-bottom: 20px;
	background-image:
	    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
	    url('https://hips.hearstapps.com/esquireuk.cdnds.net/17/32/4000x2000/landscape-1502190153-gucci.jpg?resize=1200:*');
  	background-repeat: no-repeat, no-repeat;
  	background-position:
	    center,
	    center;
 	background-size:
	    cover,
	    cover;
}

#about-page .container-fluid#gucci-shop-image {
	background-image:
	    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
	    url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Np7yaOOPl/gucci-store-in-kuala-lumpur-shopping-mall-suria-in-petronas-towers-malaysia_hmeiz-mc_thumbnail-full01.png');
  	background-repeat: no-repeat, no-repeat;
  	background-position:
	    center,
	    center;
 	background-size:
	    cover,
	    cover;
}

#about-page .container-fluid#gucci-shop-image .contact-btn {
	color: #fff;
	background-color: #B0A060;
	padding: 1em;
	text-transform: uppercase;
	transition: 0.5s;
	font-weight: bold;
}

#about-page .container-fluid#gucci-shop-image .contact-btn:hover {
	background-color: #897b43;
	text-decoration: none;
}

#about-page p {
	text-align: justify;
}

#about-page img {
	max-height: 300px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#about-page #first-text-area img {
	margin-right: 10px;
}

#about-page #second-text-area img {
	margin-left: 10px;
	float: right;
}

#about-page h2 {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

body > div.col-xs-12 > section.aimeos.catalog-list > div.catalog-list-items > ul{
padding: 0;
}

